{% extends 'layouts/base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block one_row_content %}
    <div class="content">
        <br>
        <a href="{{ path('profileIndex') }}" class="link"><i class="fal fa-long-arrow-left"></i> {{ "Return to profile"|trans }}</a>
        <h3>{{ "Settings"|trans }}: </h3>

        {{ form_start(userProfileForm) }}
            <div class="user-settings-left" style="width: 50%; padding: 0 30px 0 0; float: left;">
                <div class="form-group">
                    {{ form_widget(userProfileForm.email, {'attr': {'class': 'form-control rounded-block', 'placeholder' : 'Email'}}) }}
                </div>
                <div class="form-group">
                    <button class="btn">{{ button_label|default('Save')|trans }}</button>
                </div>
            </div>
            <div class="user-settings-right" style="width: 50%; padding: 0 0 0 30px; float: right;">
                <div class="form-group">
                    {{ form_label(userProfileForm.interfaceLanguage) }}:
                    {{ form_widget(userProfileForm.interfaceLanguage) }}
                </div>
                <div class="form-group">
                    {{ form_label(userProfileForm.defaultLanguage) }}:
                    {{ form_widget(userProfileForm.defaultLanguage) }}
                </div>
                <div class="form-group">
                    {{ form_label(userProfileForm.defaultKeyboard) }}:
                    {{ form_widget(userProfileForm.defaultKeyboard) }}
                </div>
                <div class="form-group">
                    {{ form_label(userProfileForm.showTooltips) }}:
                    {{ form_widget(userProfileForm.showTooltips) }}
                </div>
            </div>
        {{ form_end(userProfileForm) }}
    </div>
{% endblock %}

{% block two_rows %}{% endblock %}
