{% extends 'layouts/base.html.twig' %}

{% block title %}New User{% endblock %}

{% block two_rows_content_1 %}
    <div class="content">
        <a href="{{ path('adminIndex') }}" class="btn btn-block">Index</a>
        <a href="{{ path('adminOverview') }}" class="btn btn-block">Overview</a>
        <a href="{{ path('user_index') }}" class="btn btn-block">User</a>
    </div>
{% endblock %}

{% block two_rows_content_2 %}
    <div class="content">
        <h1>Create new User</h1>

        {{ include('admin/user/_form.html.twig') }}

        <a href="{{ path('user_index') }}">back to list</a>
    </div>
{% endblock %}
