{% extends 'layouts/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block one_row_content %}
    <div class="registration-form">
        <h1>{{ "Register"|trans }}</h1>

        {{ form_start(registrationForm) }}

        {% for error in registrationForm.vars.errors.form.getErrors(true) %}
            <div class="alert alert-danger">{{ error.message }}</div><br>
        {% endfor %}

        <div class="form-control" style="text-align: left">
            {{ form_widget(registrationForm.email) }}
        </div>

        {% for passwordField in registrationForm.plainPassword %}
            <div class="form-control" style="text-align: left">
                {{ form_widget(passwordField) }}
            </div>
        {% endfor %}

        <div class="form-control">
            <button class="btn">{{ "register.action"|trans }}</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

{% block two_rows %}{% endblock %}
