<style>
    textarea {
        border: 5px solid black;
        height: 300px;
        width: 900px;
        overflow-x: hidden;
        text-align: center;
        background-color: white;
        padding: 25px;
        font-size: 44px;
        font-weight: 700;
    }
</style>

{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
    <div class="form-group">
        {{ form_widget(form.text_body, {'attr': {'style': 'width: 1050px; margin: 0 auto;'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.language) }}:
        {{ form_widget(form.language) }}
    </div>
    <div class="form-group">
        {{ form_label(form.is_checked) }}:
        {{ form_widget(form.is_checked) }}
    </div>
    <hr>
    <div class="form-group">
        <h2>Formatted text preview: </h2>
        <div class="test-text-display" style="width: 1050px; height: auto;">
            <span id="original-text">{{ text.parsedText|raw }}</span>
        </div>
    </div>
    <div class="form-group">
        {{ form_widget(form.language, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
