{% extends 'layouts/base.html.twig' %}

{% block title %}Texts index{% endblock %}

{% block one_row_content %}
    <div class="content">
        <div class="breadcrumbs">
            <a href="{{ path('adminOverview') }}" class="link">Admin</a> /
            <span>Texts</span>
        </div>

        <h1>Texts index</h1>

        <a href="{{ path('texts_new') }}" class="btn">Create new</a>
        <br>
        <br>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Text_body</th>
                <th>Language</th>
                <th>Checked</th>
                <th>Words_count</th>
                <th>Letter_counts</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for text in texts %}
                <tr>
                    <td>{{ text.id }}</td>
                    <td style="text-align: left">{{ text.textBody|slice(0, 60) }}...</td>
                    <td>{{ text.language.title }}</td>
                    <td>{{ text.isChecked ? '<i class="fal fa-check-circle" style="color: green;"></i>' : '<i class="fal fa-ban" style="color: red;"></i>' }}</td>
                    <td>{{ text.wordsCount }}</td>
                    <td>{{ text.letterCounts ?? 0 }}</td>
                    <td>{{ text.createdAt ? text.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('texts_show', {'id': text.id}) }}" class="link">show</a>
                        <a href="{{ path('texts_edit', {'id': text.id}) }}" class="link">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block two_rows %}{% endblock %}
