{% extends 'layouts/base.html.twig' %}

{% block title %} - {{ "title.courses.test"|trans }}{% endblock %}

{% block meta %}
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache">
{% endblock %}

{% block two_rows_content_1 %}
    <div class="rounded-block left-main-block">
        <div class="content" style="text-align: center">
            {% if app.user %}
                <h1>{{ "Welcome"|trans }}</h1>
                {% if app.user.isPremium %}
                    <img src="{{ asset('img/reward.png') }}" width="30" align="center" alt="Premium member reward" title="{{ "Premium member"|trans }}">
                {% endif %}
                {{ app.user.email }}
                <br><br>
                <span class="small">{{ "Last"|trans }} <span title="{{ "Words per minute"|trans }}">WPM</span>:</span> <b>{{ lastResult.wordsPerMinute ?? 0}}</b>
            {% else %}
                <h1>{{ "Sign in"|trans }}</h1>
                <form class="login-form" method="post" action="{{ path('app_login') }}">
                    <div class="form-group">
                        <input type="email" name="email" id="inputEmail" class="form-control rounded-block" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control rounded-block" name="password" id="inputPassword" placeholder="{{ "Password"|trans }}" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <button class="btn btn-block">
                            {{ "Log in"|trans }}
                        </button>
                    </div>
                    <div class="form-group">
                        <a href="{{ path('register') }}">{{ "Create new account"|trans }}</a><br>
                        <a href="{{ path('resetPassword') }}" class="link">{{ "Forgot your password?"|trans }}</a>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="rounded-block left-main-block" style="margin-top: 25px">
        <div class="content" style="text-align: center">
            <h1>{{ "Warning"|trans }}!</h1>
            <p>
                {{ "This website is under construction, some bugs are possible"|trans }}. {{ "If you'll meet them, please"|trans }} <a
                        href="https://t.me/zikbert77" target="_blank" class="link">{{ "contact us"|trans }}</a> {{ "immediately"|trans }}.
            </p>
        </div>
    </div>
{% endblock %}

{% block two_rows_content_2 %}
    <div class="content">
        {% set i = 0 %}
        {% for title, categories in courses %}
            <div class="course-item{% if title in premiumCourses %} premium{% endif %}">
                {% if title in premiumCourses and (app.user.isPremium ?? false) == false %}
                    <div class="mask">
                        <div class="message">
                            <a href="{{ path('profilePlans') }}" class="link">{{ "Change"|trans }}</a> {{ "your premium plan, and get access to premium courses"|trans }}
                        </div>
                    </div>
                {% endif %}
                <h1>{{ title|trans }}:</h1>
                <div id="accordion-{{ i }}">
                    {% for subtitle, subcourses in categories %}
                        <h3 class="accordion-header">{{ subtitle|trans }}</h3>
                        <div class="accordion-body">
                            {% for course in subcourses %}
                                {% if title in premiumCourses and (app.user.isPremium ?? false) != false %}
                                    <a href="{{ path('course', {'id': course.id}) }}" class="course-link">
                                        <span class="link">{{ 'Typing course'|trans  ~ ' ' ~ course.position }} - {{ course.description|raw }}</span>
                                    </a>
                                {% elseif title not in premiumCourses and (app.user.isPremium ?? false) == false %}
                                    <a href="{{ path('course', {'id': course.id}) }}" class="course-link">
                                        <span class="link">{{ 'Typing course'|trans  ~ ' ' ~ course.position }} - {{ course.description|raw }}</span>
                                    </a>
                                {% elseif title not in premiumCourses and (app.user.isPremium ?? false) != false %}
                                    <a href="{{ path('course', {'id': course.id}) }}" class="course-link">
                                        <span class="link">{{ 'Typing course'|trans  ~ ' ' ~ course.position }} - {{ course.description|raw }}</span>
                                    </a>
                                {% else %}
                                    <span class="link">{{ 'Typing course' ~ ' ' ~ course.position }}</span>
                                {% endif %}
                                <br>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            {% set i = 0 %}
            {% for title, categories in courses %}
                $("#accordion-{{ i }}").accordion();
            {% set i = i + 1 %}
            {% endfor %}
        } );
    </script>
{% endblock %}