{% extends 'layouts/base.html.twig' %}

{% block meta %}
    <meta name="description" content="Blind typer is a service that allows you to improve your typing skill, increase speed and accuracy">
{% endblock %}

{% block two_rows_content_1 %}
<div class="rounded-block left-main-block">
    <div class="content" style="text-align: center">
        {% if app.user %}
            <h1>{{ "Welcome"|trans }}</h1>
            {% if app.user.isPremium %}
                <img src="{{ asset('img/reward.png') }}" width="30" align="center" alt="Premium member reward" title="{{ "Premium member"|trans }}">
            {% endif %}
            {{ app.user.email }}
            <br><br>
            <span class="small">{{ "Last"|trans }} <span title="{{ "Words per minute"|trans }}">WPM</span>:</span> <b>{{ lastResult.wordsPerMinute ?? 0}}</b>
        {% else %}
            <h1>{{ "Sign in"|trans }}</h1>
            <form class="login-form" method="post" action="{{ path('app_login') }}">
                <div class="form-group">
                    <input type="email" name="email" id="inputEmail" class="form-control rounded-block" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control rounded-block" name="password" id="inputPassword" placeholder="{{ "Password"|trans }}" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group">
                    <button class="btn btn-block">
                        {{ "Log in"|trans }}
                    </button>
                </div>
                <div class="form-group">
                    <a href="{{ path('register') }}">{{ "Create new account"|trans }}</a><br>
                    <a href="{{ path('resetPassword') }}" class="link">{{ "Forgot your password?"|trans }}</a>
                </div>
            </form>
        {% endif %}
    </div>
</div>
<div class="rounded-block left-main-block" style="margin-top: 25px">
    <div class="content" style="text-align: center">
        <h1>{{ "Warning"|trans }}!</h1>
        <p>
            {{ "This website is under construction, some bugs are possible"|trans }}. {{ "If you'll meet them, please"|trans }} <a
                    href="https://t.me/zikbert77" target="_blank" class="link">{{ "contact us"|trans }}</a> {{ "immediately"|trans }}.
        </p>
    </div>
</div>
{% endblock %}
{% block two_rows_content_2 %}

<div class="content">
    <h1>BlindTyper</h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "BlindTyper is a service that allows you to improve your typing skill, increase speed and accuracy."|trans }}
        {{ "Take"|trans }} <a href="{{ path('test') }}" class="link">{{ "the tests"|trans }}</a> {{ "and"|trans }} <a href="{{ path('courses') }}" class="link">{{ "courses"|trans }}</a> {{ "to become an advanced in typing"|trans }}.
        {{ "Warm up your fingers before start working. Be more productive!"|trans }}
    </p>
    <a href="{{ path('test') }}">
        <button class="btn">
            {{ "Start typing"|trans }} <i class="fad fa-keyboard"></i>
        </button>
    </a>
</div>
{% endblock %}