{% extends 'layouts/base.html.twig' %}

{% block title %} - Terms of service{% endblock %}

{% block one_row_content %}
    <div class="content">
        <div class="text-center">
            <h1>{{ "Privacy and terms of service"|trans }}</h1>
        </div>
        <div>
            <h3>{{ "Account terms"|trans }}</h3>
            &emsp;{{ "You must be 13 years or older to use our Services."|trans }}
            {{ 'You must be a human. Accounts registered by "bots" or other automated methods are not permitted and will be deleted.'|trans }}
            {{ "You are responsible for maintaining the security of your account and password (credential)."|trans }}
            {{ "BlindTyper cannot and will not be liable for any loss or damage from your failure to comply with this security obligation."|trans }}
        </div>
        <div>
            <h3>Warranty</h3>
            &emsp;We make no warranty. Your use of the Service is at your own risk. The service is provided on an "as is" and "as available" basis.

            You need to understand that we use third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service. So we cannot be responsible for their failure.
        </div>
        <div>
            <h3>How do we protect your information</h3>
            &emsp;We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.

            We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.

            After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.
        </div>
        <div>
            <h3>Do we share any information to outside partners?</h3>
            &emsp;We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
        </div>
        <div>
            <h3>Third party links</h3>
            &emsp;This web site contains links to other web sites and third party Ads. Please note that when you click on one of these links you are redirected to another web site on which privacy policy may differ from ours so please read it. As well advertisement vendors can use cookies to serve their ads. This Privacy Policy covers the usage of cookies by The BlindTyper and does not cover the usage of cookies by any third party vendors.
        </div>
        <div>
            <h3>Do we use cookies?</h3>
            &emsp;Yes. Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.

            We use cookies to understand and save your preferences for future visits, keep track of advertisements and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.
        </div>
        <div>
            <h3>Do we use COPPA?</h3>
            &emsp;No, this website is not directed to children under 13.
        </div>
        <div>
            <h3>Contact us</h3>
            &emsp;If there are any questions regarding this privacy policy you may contact us using the information below.
            <br>
            <br>

            Website: <a href="http://blindtyper.zzz.com.ua" class="link">blindtyper.zzz.com.ua</a> <br>
            Email: service.blindtyper@gmail.com
        </div>
        <br>
    </div>
{% endblock %}

{% block two_rows %}{% endblock %}