<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="BlindTyper, typing, text typing,fast typing, typing skill, experienced typing,
        typing course, typing test">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    <title>Blind typer {% block title %}{% endblock %}</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="{{ asset('bootstrap4/css/bootstrap-grid.css') }}">
    <script src="{{ asset('bootstrap4/js/bootstrap.js') }}"></script>
    <!--CSS-->
    <link rel="stylesheet" href="{{ asset('fonts/SanFrancisco/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!--FontAwesome-->
    <link rel="stylesheet" href="{{ asset('fonts/fontawesome/css/all.css') }}">
</head>
<body>
{% include 'layouts/top-menu.html.twig' %}

{% if app.user and app.user.isPremium %}
    <style>
        .ads-container {
            display: none !important;
        }
    </style>
{% endif %}

<div class="mobile-device-mask">
    <h1>Sorry, but access to this web-site available only from computers :(</h1>
</div>

<div class="container ads-container">
    <div class="row main-row ads-row text-center">
        <div class="rounded-block">
            <div class="content">
                advertisement block
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    {% block one_row %}
        <div class="container">
            <div class="row main-row">
                <div class="rounded-block test-box">
                    {% block one_row_content %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block two_rows %}
        <div class="container">
            <div class="row main-row">
                <div class="col-4">
                    {% block two_rows_content_1 %}{% endblock %}
                    <div class="container ads-container">
                        <div class="row main-row ads-row text-center">
                            <div class="rounded-block">
                                <div class="content">
                                    advertisement block
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="rounded-block right-main-block">
                        {% block two_rows_content_2 %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>

<footer>
    <div class="container">
        <div class="row main-row">
            <div class="col-12 footer">
                <div class="left" style="line-height: 18px">
                    <b>Info:</b><br>
                    <a href="{{ path('terms') }}" class="link">Privacy & terms of service</a>
                    <br><br><b>Contact us:</b><br>
                    <a href="mailto:service.blindtyper@gmail.com" class="link">service.blindtyper@gmail.com</a><br>
                </div>
                <div class="right" style="height: 100%">
                    <div class="dasfasdf" style="display: flex; align-items: center; height: 100%;">
                        <b>BlindTyper</b> &copy; all rights reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        if (document.domain == 'blindtyper.zzz.com.ua') {
            $('div').first().hide();
        }
    });
</script>
{%block scripts %}{% endblock %}
</body>
</html>