<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="BlindTyper, typing, text typing,fast typing, typing skill, experienced typing,
        typing course, typing test">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    <title>Blind typer {% block title %}{% endblock %}</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="{{ asset('bootstrap4/css/bootstrap-grid.css') }}">
    <script src="{{ asset('bootstrap4/js/bootstrap.js') }}"></script>
    <!--CSS-->
    <link rel="stylesheet" href="{{ asset('fonts/SanFrancisco/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!--FontAwesome-->
    <link rel="stylesheet" href="{{ asset('fonts/fontawesome/css/all.css') }}">
</head>
<body>
{% include 'layouts/top-menu.html.twig' %}

{% if true or (app.user and app.user.isPremium) %}
    <style>
        .ads-container {
            display: none !important;
        }
    </style>
{% endif %}

<div class="mobile-device-mask">
    <h1>{{ "Sorry, but access to this web-site available only from computers"|trans }} :(</h1>
</div>

<div class="container ads-container">
    <div class="row main-row ads-row text-center">
        <div class="rounded-block">
            <div class="content">
                advertisement block
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    {% block one_row %}
        <div class="container">
            <div class="row main-row">
                <div class="rounded-block test-box">
                    {% block one_row_content %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block two_rows %}
        <div class="container">
            <div class="row main-row">
                <div class="col-4">
                    {% block two_rows_content_1 %}{% endblock %}
                    <div class="container ads-container">
                        <div class="row main-row ads-row text-center">
                            <div class="rounded-block">
                                <div class="content">
                                    advertisement block
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="rounded-block right-main-block">
                        {% block two_rows_content_2 %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>

<footer>
    <div class="container">
        <div class="row main-row">
            <div class="col-12 footer">
                <div class="left" style="line-height: 18px">
                    <b>{{ "Info"|trans }}:</b><br>
                    <a href="{{ path('terms') }}" class="link">{{ "Privacy & terms of service"|trans }}</a>
                    <br><br><b>{{ "contact.us"|trans }}:</b><br>
                    <a href="mailto:service.blindtyper@gmail.com" class="link">service.blindtyper@gmail.com</a><br>
                </div>
                <div class="right" style="height: 100%">
                    <div class="dasfasdf" style="display: flex; align-items: center; height: 100%;">
                        <b>BlindTyper</b> &copy; {{ "all rights reserved"|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>

<script>
    $(document).ready(function () {
        if (document.domain == 'blindtyper.zzz.com.ua') {
            $('div').first().hide();
        }

        $("#interface-language").change(function () {
            $.get('{{ path('setLocale') }}', {
                _locale: $(this).val()
            }, function (data) {
                if (data !== 'ok') {
                    alert(data)
                }
                window.location.reload();
            })
        });

        prepareTopMenu();
        $(".language-img").click(function () {
            if ($(this).data('selected') === 0) {
                $.get('{{ path('setLocale') }}', {
                    _locale: $(this).data('language')
                }, function (data) {
                    if (data !== 'ok') {
                        alert(data)
                    }
                    window.location.reload();
                })
            }
        })
    });

    function prepareTopMenu() {
        let locale = '{{ app.request.locale }}';
        let languages = ['en', 'ru', 'ua'];

        let selectedLanguageIndex = languages.indexOf(locale);
        if (selectedLanguageIndex > -1) {
            languages.splice(selectedLanguageIndex, 1);
        }

        let interfaceLanguageDropdown = '';
        interfaceLanguageDropdown += '<img class="language-img" data-selected="1" src="/img/languages/'+ locale +'.png" alt="">';
        interfaceLanguageDropdown += '<div class="dropdown-content rounded-block">';

        $.each(languages, function (index, value) {
            interfaceLanguageDropdown += '<div class="dropdown-item">' +
                '<img class="language-img" src="/img/languages/'+ value +'.png" data-selected="0" data-language="'+ value +'" alt="'+ value +'">' +
                '</div>';
        });

        interfaceLanguageDropdown += '</div>';

        $(".interface-language-dropdown").html(interfaceLanguageDropdown);
    }
</script>
{%block scripts %}{% endblock %}
</body>
</html>