<div class="container">
    <div class="row">
        <div class="col-12 top-menu-box rounded-block ff-ui-text">
            <div class="top-menu-item unhoverable left">
                <a href="{{ path('index') }}"><b>Best SNG blind typer</b></a>
            </div>
            <a href="{{ path('test') }}">
                <div class="top-menu-item left">
                    Typing test
                </div>
            </a>
            <div class="top-menu-item right unhoverable">
                <div class="dropdown">
                    <img class="language-img" src="{{ asset('img/languages/united-states.png') }}" alt="">
                    <div class="dropdown-content rounded-block">
                        <div class="dropdown-item">
                            <img class="language-img" src="{{ asset('img/languages/ukraine.png') }}" alt="">
                        </div>
                        <div class="dropdown-item">
                            <img class="language-img" src="{{ asset('img/languages/russia.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            {% if app.user %}
                <div class="top-menu-item right unhoverable">
                    <a href="{{ path('app_logout') }}"><i class="fal fa-sign-out" style="position: relative;top: 1px;"></i> Log out</a>
                </div>
                <a href="{{ path('profileIndex') }}">
                    <div class="top-menu-item right">
                        Profile
                    </div>
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('adminIndex') }}">
                    <div class="top-menu-item right">
                        Admin
                    </div>
                </a>
                {% endif %}
            {% else %}
                <div class="top-menu-item right unhoverable">
                    <a href="{{ path('app_login') }}"><i class="fal fa-sign-in" style="position: relative;top: 1px;"></i> Log in</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

