{% extends 'layouts/base.html.twig' %}

{% block title %}Admin - index{% endblock %}

{% block two_rows_content_1 %}
<div class="rounded-block left-main-block">
    <br>
    <div class="content">
        <a href="{{ path('adminIndex') }}" class="btn btn-block">Index</a>
        <a href="{{ path('adminOverview') }}" class="btn btn-block">Overview</a>
        <a href="{{ path('user_index') }}" class="btn btn-block">User</a>
    </div>
</div>
{% endblock %}

{% block two_rows_content_2 %}
    <div class="content">
        <link rel="stylesheet" href="{{ asset('chartjs/Chart.css') }}">
        <script src="{{ asset('chartjs/Chart.js') }}"></script>
        <h1>Overview</h1>
        <canvas id="userTestsPasses" height="100"></canvas>
        <canvas id="anonymousTestsPassed" height="100"></canvas>
    </div>


    <script>
        var ctx = document.getElementById('userTestsPasses').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    {% for datetime in userTestsPassed['date'] ?? [] %}
                    '{{ datetime }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Tests was passed by users',
                    data: [
                        {% for twp in userTestsPassed['count'] ?? [] %}
                        '{{ twp }}',
                        {% endfor %}
                    ],
                    borderColor: 'rgba(61, 163, 242, 1)',
                    borderWidth: 3
                }]
            },
            options: {
                tooltips: {
                    mode: 'x-axis',
                    intercept: true
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctxAnon = document.getElementById('anonymousTestsPassed').getContext('2d');
        var myChartAnon = new Chart(ctxAnon, {
            type: 'bar',
            data: {
                labels: [
                    {% for datetime in anonymousTestsPassed['date'] ?? [] %}
                    '{{ datetime }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Tests was passed anonymously',
                    data: [
                        {% for twp in anonymousTestsPassed['count'] ?? [] %}
                        '{{ twp }}',
                        {% endfor %}
                    ],
                    backgroundColor: 'rgb(255, 162, 0, 1)',
                    borderColor: 'rgba(255, 162, 0, 1)',
                    borderWidth: 3
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
